h1{
    text-align: center;
    color: #a8294f;
    opacity:0.7;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 60px;
    font-family:fantasy;
}
body{
    background-color: rgb(216, 183, 172);
    font-size: 125%;
}
h2{
    color: #a38132;
    font-family: cursive;
}
ol{
    margin-left: 100px;
}
div{
    padding-left: 140px;
    border: black solid 1px;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
li{
    padding-bottom: 10px;
    padding-top: 10px;
}
table{
    width: 100%;
}
table tr th{
    text-align: left;
}